{% extends 'layout.html' %}

{% block title %}{{ current_user.username }}{% endblock title %}

{% block scripts %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
  $(document).ready(function() {
    const book_url = {{ url_for("books.search_books")|tojson }};
    const book_input = document.getElementById("book_input");

    $("#book_input").autocomplete({
      source: function(request, response) {
        fetch("/book/search", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ search_term: request.term })
        })
        .then(response => response.json())
        .then(data => {
          response(data.books);
        });
      },
      minLength: 3
    });

    $(".modal-body").on("submit", "form.needs-validation", function(event) {
      event.preventDefault(); // Prevent default form submission

      var form = event.target;
      var formData = new FormData(form); // Create FormData object from the form
      var url = form.action; // Get form action URL

      fetch(url, {
        method: "POST",
        body: formData
      })
        .then(response => response.text())
        .then(data => {
          // Handle the response, update the page with the new HTML, or display a success message
          // ...
          // For example, if the response contains the updated book list HTML:
          $("#book_div").html(data);
          $("#newBookModal").modal("hide");
        })
        .catch(error => {
          // Handle network errors or exceptions
        });
    });

    $("#launchModalButton").click(function() {
    // Fetch the HTML form
      fetch("/book/new?modal=true")
        .then(response => response.text())
        .then(data => {
          // Insert the form into the modal body
          $(".modal-body").html(data);
        });
    });
  });
</script>
{% endblock scripts %}

{% block content %}
  <div class="container border border-black rounded-4 px-3 py-4">
    <form action="" method="post" class="needs-validation" novalidate>
      {{ form.hidden_tag() }}
      <fieldset>
        <legend>Update Account</legend>
        <div class="mb-3">
          {{ form.title.label(class="form-label") }}
          {% if form.title.errors %}
            {{ form.title(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.title.errors %}                    
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}                    
            {{ form.title(class="form-control") }}
          {% endif %}
        </div>
        <div class="mb-3">
          {{ form.book.label(class="form-label") }}
          {% if form.book.errors %}
            {{ form.book(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.book.errors %}                    
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}                    
            {{ form.book(class="form-control") }}
          {% endif %}
        </div>
        <small class="text-muted">
          <button id="launchModalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newBookModal">
            Launch demo modal
          </button>
        </small>
        <div class="mb-3">
          {{ form.start_page.label(class="form-label") }}
          {% if form.start_page.errors %}
            {{ form.start_page(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.start_page.errors %}                    
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}                    
            {{ form.start_page(class="form-control") }}
          {% endif %}                
        </div>
        <div class="mb-3">
          {{ form.end_page.label(class="form-label") }}
          {% if form.end_page.errors %}
            {{ form.end_page(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.end_page.errors %}                    
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}                    
            {{ form.end_page(class="form-control") }}
          {% endif %}                
        </div>
        <div class="mb-3">
          {{ form.content.label(class="form-label") }}
          {% if form.content.errors %}
            {{ form.content(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.content.errors %}                    
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}                    
            {{ form.content(class="form-control") }}
          {% endif %}                
        </div>
        <div class="mb-3">
          {{ form.submit(class="btn btn-outline-primary") }}
        </div>
      </fieldset>
    </form>
  </div>

  <div class="modal fade" id="newBookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Book</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Loading...
          <!-- This content will be fetched from the server-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add Book</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}