{% extends 'layout.html' %}

{% block title %}TEST{% endblock title %}

{% block scripts %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
    $(document).ready(function() {
      const book_url = {{ url_for("books.search_books")|tojson }}
      const book_input = document.getElementById("book")
      
      book_input.addEventListener("input", (event) => {
        const term = event.target.value
        const data = new FormData()
        data.append("search_term", term)

        fetch(book_url, {
          method: "POST",
          headers: {"Content-Type": "application/json"},
          body: data
        })
        .then(response => response.json())
        .then(data => {
          $("b").autocomplete({
            source: data['books']
          });
        })
      })
    })
  </script>
{% endblock scripts %}

{% block content %}
  <label for="book">Select a thing: </label>
  <input id="book">
{% endblock content %}